<ion-view title="{{ctrl.tag.title}}">
    <ion-content padding="true">
      <div class="list card">
        <div class="item item-icon-left">
          <i class="icon ion-ios-world-outline"></i>
          <h2>{{ctrl.tag.locality}}</h2>
          <p>{{ctrl.tag.coords.lat}}, {{ctrl.tag.coords.long}}</p>
        </div>
        <div class="item item-image" id="canvas-wrp">
            <canvas id="c"></canvas>
        </div>
      </div>
    </ion-content>
</ion-view>