<ion-view view-title="Home">
  
  
    <ion-nav-buttons side="left">
      <button class="button button-balanced icon ion-trash-a" ng-click="ctrl.shouldShowDelete = !ctrl.shouldShowDelete">
      </button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-refresher
          pulling-text="Trascina per aggiornare..."
          on-refresh="ctrl.doRefresh()">
        </ion-refresher>
      
        <div ng-hide="ctrl.tags.length" class="card">
          <div class="item item-text-wrap">
          Non è presente nessun tag...
          </div>
        </div>
        
        <ion-list can-swipe="ctrl.listCanSwipe" show-delete="ctrl.shouldShowDelete">
          <ion-item collection-repeat="tag in ctrl.tags"
                    ui-sref="detail({id: tag._id})"
                    class="item-thumbnail-left">
              <img ng-src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{tag.photo_url}}&container=focus&resize_w=128&refresh=31536000" />
              <h2>{{tag.locality}}</h2>
              <p>{{tag.coords.lat}}, {{tag.coords.long}}</p>
            
              <ion-delete-button class="ion-minus-circled" ng-click="ctrl.delete(tag)"></ion-delete-button>

              <ion-option-button class="button-positive"
                       ng-click="ctrl.share(tag)">
                Share
              </ion-option-button>
                
          </ion-item>
        </ion-list>
      

    </ion-content>
  
  <ion-footer-bar class="bar-stable">
    <div class="button-bar">
      <a class="button button-clear icon ion-camera" ng-click="ctrl.takePicture()"></a>
    </div>
  </ion-footer-bar>
</ion-view>