/* Empty. Add your own CSS if you like */
@font-face {
   font-family: AvenirNext-UltraLight;
   src: url(../fonts/AvenirNext-UltraLight.ttf);
}

@font-face {
   font-family: AvenirNext-Medium;
   src: url(../fonts/AvenirNext-Medium.ttf);
}

@font-face {
   font-family: AvenirNext-Bold;
   src: url(../fonts/AvenirNext-Bold.ttf);
}

@font-face {
   font-family: AvenirNext-Regular;
   src: url(../fonts/AvenirNext-Regular.ttf);
}